<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jquery.popup.js"></script>

    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://weloveiconfonts.com/api/?family=fontawesome">
    <style>
        [class*="fontawesome-"]:before {
          font-family: 'FontAwesome', sans-serif;
        }
    </style>

    <!-- jQuery -->
    <style type="text/css"></style>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->

  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    </script>

    <div id="my_popup" class="hidden">
      <div id="alert"></div>
      <button class="my_popup_close">Close</button>
    </div>

    <header class="clearfix">
      <% if @user %>
          <img id="picture" src="https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal" />
          <div id="profile">
            <div class="left">
            <h1>WOW, <strong><%= @user['name'] %></strong></h1>
            <p class="tagline">
              Siamo pronti a mangiare un #<a href="<%= @app['@app'] %>"><%= @app['name'] %></a>!
            </p>
          </div>
          <div id="share">
              <p>Invita un tuo amico alla Sfida dei Mandarini</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Scrivi sul tuo Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Sei abbastanza tosto per partecipare alla Sfida dei Mandarini?">
                    <span class="apprequests">Invita un Amico</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <% else %>
        <div>
          <h1><span class="hilite">HIIIYAAA!!</span> Vuoi partecipare alla <span class="logo">SFIDA DEI MANDARINI?</span></h1>
          <div class="fb-login-button" data-scope="<%= FACEBOOK_SCOPE %>">LOGGA CON FACEBOOK</div>

        </div>

      <% end %>
    </header>


      <section id="target" class="clearfix">
        <div class="number">
          <h1 id="challengeTarget"><%= @challengeTarget %></h1>
          <h2 id="challengeDate"><%= @challengeDate %></h2>
        </div>
      </section>

    <% if @user %>

      <section id="mandarinoform" class="clearfix">
        <div id="message"><%= @message %></div>
        <form id="theForm">
          <input type="number" name="howmany" id="howmany" maxlenght="2" maxsize="2" min="0" placeholder="1" value="1">
          <input type="hidden" name="who" value="<%= @user['id'] %>" />
          <input id="mandarinosubmit" type="submit" />
        </form>
      </section>

      <section id="mandarinofriends" class="clearfix">
          <div class="list">
            <h3>I tuoi amici che stanno partecipando alla sfida</h3>
            <ul class="friends">
              <% @friends_using_app.each do |friend_result| %>
                <li>
                  <a href="#" onclick="window.open('http://www.facebook.com/<%= friend_result['uid'] %>')">
                    <img src="<%= friend_result['pic_square'] %>" alt="<%= friend_result['name'] %>">
                    <%= friend_result['name'] %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </section>
    <% end %>

    <script type="text/javascript" src="/javascripts/app.js"></script>
    </body>
</html>